<nav>
    <div class="nav-container">
        <img src="https://i.ibb.co/hJW3jpvc/logo-a.png" alt="Logo DeWALT" class="nav-logo">

        <a href="../index.html" class="nav-link">Inicio</a>
        <a href="../tools/magazine.html" class="nav-link">Revista</a>
        <a href="../tools/fusion_text.html" class="nav-link">Fusión de Texto</a>
        <a href="../fusion-notas.html" class="nav-link">Fusión de Notas</a>
        <a href="../impresion.html" class="nav-link">Pruebas de Impresión</a>


    </div>
</nav>